<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">		
		<hr>
		<div class="jumbotron text-center">
		    <p>Ui router <span class="text-danger">multiple</span> and <span class="text-danger">named  asdadads</span> views.</p>
		</div>

		<div class="row">		    
		    <div class="col-sm-6">
		        <div ui-view="columnOne"></div>
		    </div>		    
		    <div class="col-sm-6">
		        <div ui-view="columnTwo"></div>
		    </div>
		</div>
		<br>
		<hr>
		<div class="jumbotron text-center">
		    <p><span class="text-danger">Forms</span> in angularjs.
		</div>
		<ul>
			<li><a ui-sref=".form1">Dynamic form with ngForm & ngRepeat</a></li>
			<li><a ui-sref=".form2">Angular Checkboxes and Radio Buttons</a></li>
			<li><a ui-sref=".form3">Form Validation with NgMessages</a></li>			
			<li><a ui-sref=".form4">NgShow and Nghide</a></li>			
			<li><a ui-sref=".form5">NgClass</a></li>
			<li><a ui-sref=".form6">Sort and filter a table</a></li>
		</ul>		
		<br>
		<div style="min-height: 600px;">
			<div ui-view></div>
		</div>
	</div>
</div>
